.img-container img{
    height:200px;
    width:200px;
    border-radius: 30%;
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

.img-container{
    height: 250px;
    width: 250px;
    position: relative; 
    overflow: hidden;
}

.close{
    margin-right: 3px;
}

/* .modal-backdrop{
    width:100vh;
}
#bird-data-card{
    width:100vh;
    
} */
.bird-data-modal-body{
    padding:0px;
    width: 80vw;
}

.bird-data-modal-content{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.bird-data-modal-image{
    width:79.8vw;
    
}

.bird-data-modal-footer{
    width: 80vw;
    
}

div.bird-data-type{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40;
}

p.bird-data-properties{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24;
    padding:0 10px ;
}

span.bird-data-price{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30;
}

span.bird-data-add-to-cart-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30;
}

