@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  float:left;
  position: relative;
  padding-top:35px;
}

.searchTerm {
  width: 350px;
  padding-top: 5px;
  padding-right: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton img {
    margin-right:60px;
}

.searchButton {
  position: relative;  
  right: -10px;
  top: -7.5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 35px;
  cursor: pointer;
  font-size: 20px;
}


.navbar-header {
    float:left;
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 11px;
    padding-left:25px;
    color:black;
}

.threeIcon  {
    float: right;
}
.socialmedia > li {
    float: left;
    display:block; 
    
}


.container-fluid img {
    margin-top: 8px;
}

.img-container img{
    height:200px;
    width:200px;
    border-radius: 30%;
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

.img-container{
    height: 250px;
    width: 250px;
    position: relative; 
    overflow: hidden;
}

.close{
    margin-right: 3px;
}

.fb img{
    margin-top: 20px;
    margin-right: 45px;
}
.yt img{
    margin-top: 25px;
    margin-right: 30px;
}
.ig img{
    margin-top: 10px;
    margin-right: 10px;
    
}

/* .modal-backdrop{
    width:100vh;
}
#bird-data-card{
    width:100vh;
    
} */
.bird-data-modal-body{
    padding:0px;
    width: 46vw;
}

.bird-data-modal-content{
    width: 46vw;
    margin-left: auto;
    margin-right: auto;
}

.bird-data-modal-image{
    width:45.9vw;
    
}

.bird-data-modal-footer{
    width: 46vw;
    
}

div.bird-data-type{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40;
}

p.bird-data-properties{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24;
    padding:0 10px ;
}

span.bird-data-price{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30;
}

span.bird-data-add-to-cart-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30;
}

.shopping-cart-list-item-icon{
    height:100px;
    width:100px;
    display:inline-block;
}

.shopping-cart-list-item-body{
    display: block;
}
