.img-container img{
    height:200px;
    width:200px;
    border-radius: 30%;
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

.img-container{
    height: 250px;
    width: 250px;
    position: relative; 
    overflow: hidden;
}

.modal-body{
    padding:0px;
    width: 402px;
}

.modal-content{
    width: 402px;
    margin-left: auto;
    margin-right: auto;
}

.modal-image{
    width:400px;
}

.modal-footer{
    width: 402px;
}